.hero-about{
    text-align: center;
    background-color: #fcfcfc;
}
.hero-gallery{
    text-align: center;
    background-color: #fcfcfc;
}
.teams{
    display: flex;
    width: 100%;
    padding:10px;
    overflow-x: auto;
}
.list-teams{
    display: flex;
    position: relative;
}
.teams::-webkit-scrollbar {
    width: 20px;
}
.teams::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}
.teams::-webkit-scrollbar-thumb {
    background: #ccc;
}
.gallery-button-left{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    border:none;
    z-index: 2;
    top:250px;
    cursor: pointer;
    color:#fff;
    font-size: 20px;
    background-color: rgba(83, 192, 255, 0.5);
}
.gallery-button-right{
    width: 50px;
    height: 50px;
    right: 0;
    border-radius: 25px;
    position: absolute;
    border:none;
    z-index: 2;
    top:250px;
    cursor: pointer;
    color:#fff;
    font-size: 20px;
    background-color: rgba(83, 192, 255, 0.5);
}
.gallery-button-left:hover{
    background-color: var(--primary);
}
.gallery-button-right:hover{
    background-color: var(--primary);
}
.teams-items{
    position: relative;
}
.teams-items::before{
    position: absolute;
    content:'';
    top:0;
    width: 300px;
    height: 500px;
    background-color: rgba(0,0,0,0.8);
}
.teams-items img{
    width: 300px;
    margin-right: 20px;
    object-fit: cover;
    height: 500px;
}
.list-milestone{
    position: relative;
    width: 100%;
}
.milestone{
    display: flex;
    width: 100%;
    overflow-x: auto;
}

.milestone::-webkit-scrollbar {
    width: 20px;
}
.milestone::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}
.milestone::-webkit-scrollbar-thumb {
    background: #ccc;
}
.milestone-item::before{
    content: '';
    width: 30px;
    left:-75px;
    background-color: var(--primary);
    height: 30px;
    border-radius: 25px;
    position: absolute;
}
.milestone-item{
    flex: none;
    position: relative;
    display: flex;
    margin-right: 100px;
    height: 240px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.milestone-button-left{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    border:none;
    z-index: 2;
    top:85px;
    cursor: pointer;
    color:#fff;
    font-size: 20px;
    background-color: rgba(83, 192, 255, 0.5);
}
.milestone-button-right{
    width: 50px;
    height: 50px;
    right: 0;
    border-radius: 25px;
    position: absolute;
    border:none;
    z-index: 2;
    top:85px;
    cursor: pointer;
    color:#fff;
    font-size: 20px;
    background-color: rgba(83, 192, 255, 0.5);
}
.milestone-button-left:hover{
    background-color: var(--primary);
}
.milestone-button-right:hover{
    background-color: var(--primary);
}
.milestone-year{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}
.milestone-year::before{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left:-30px;
    width: 100px;
    height: 20px;
    background-color:#d1eff3;
}
.list-month{
    display: flex;
}
.milestone-month{
    height: 100px;
    max-width: 200px;
    margin:20px;
}
.month-title{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}
.list-vision{
    display: flex;
}
.card-vision{
    padding:20px;
    width: 300px;
    margin:10px;
}
.vision-header{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.vision-icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    border-radius: 10px;
    margin-right: 20px;
}
.vision-title{
    font-weight: bold;
    font-size: 20px;
}

@media only screen and (max-width:1000px){
    .card-vision{
        width: 100%;
    }
    .list-vision{
        display: flex;
        flex-direction: column;
    }
}